name: AutoRelease

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: zip -r release.zip pack.mcmeta assets

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          VERSION=$(gh release view --json tagName -q ".tagName")
          [[ $VERSION =~ [0-9]*$ ]]
          INDEX=$(( ${BASH_REMATCH} + 1 ))
          [[ $VERSION =~ .*$a ]]
          VERSION="${BASH_REMATCH[1]}INDEX"
          gh release create $VERSION release.zip
